<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../../partials/head'); %>
        <title>
            Ajouter une fiche
        </title>
</head>

<body>
    <header>
        <%- include('../../partials/header'); %>
    </header>
    <main class="container position">

    </main>
    <footer>
        <%- include('../../partials/footer'); %>
    </footer>

</body>

</html>