<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head'); %>
        <title>
            Accueil
        </title>
</head>

<body>
    <header>
        <%- include('../partials/header', {pageName:'home'}); %>
    </header>
    <main class="container position">
        <div class="home">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4">Bienvenue</h1>
                <p class="lead">Le site permet à un élève de saisir et de rechercher des notes et lui permet également de saisir des fiches détaillant ses cours (Journal de classe). </p>
            </div>
        </div>
    </main>
</body>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>

</html>